/* Images created by: https://unsplash.com/@pawel_czerwinski */
@import url('https://fonts.googleapis.com/css2?family=Mulish:wght@400;500;600;700;800;900&display=swap');

/* CSS variables */
:root {
  --app-bg: #c9ced3;
  --player-bg: #e7e7e7;
  --font-color: #000;
  --progress-bar: #ffffff; 
  --player-progress: #666565;
  --volume-progress:  #666565;
  --icons: rgb(129, 129, 129);
}

[data-theme="dark"]{
  --app-bg: #1a1a1a;
  --player-bg: #2e2e2e;
  --font-color: #ffffff;
  --progress-bar: #666565;
  --player-progress: #ffffff;
  --volume-progress:  #ffffff;
  --icons: rgb(221, 221, 221);
}

html {
  box-sizing: border-box;
}

body {
  margin: 0;
  min-height: 100vh;
  background: var(--app-bg);
  color: var(--font-color);
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: 'Mulish', 'Helvetica', sans-serif;
  font-size: 12px;
}

.player__container {
  height: 610px;
  width: 400px;
  background: var(--player-bg);
  border-radius: 20px;
  box-shadow: 0 15px 30px 5px rgba(0, 0, 0, 0.3);
}

.player__img-container {
  height: 300px;
  width: 300px;
  object-fit: cover;
  position: relative;
  top: -50px;
  left: 50px;
}

.player__img-container img {
  height: 100%;
  width: 100%;
  border-radius: 20px;
  box-shadow: 0 5px 30px 5px rgba(0, 0, 0, 0.5);
}

h2 {
  font-size: 25px;
  font-weight: 900;
  text-align: center;
  margin: 0;
}

h3 {
  font-size: 20px;
  text-align: center;
  font-weight: 400;
  margin: 5px 0 0;
}

/* Progress */
.player__progress-container {
  background: var(--progress-bar);
  border-radius: 5px;
  cursor: pointer;
  margin: 40px 20px;
  height: 4px;
  width: 90%;
}

.player__progress {
  background: var(--player-progress);
  border-radius: 5px;
  height: 100%;
  /* Change this to show progress */
  width: 0%;
  transition: width 0.1s linear;
}

.player__duration-wrapper {
  position: relative;
  top: -25px;
  display: flex;
  justify-content: space-between;
}

/* Controls */
.player__controls {
  position: relative;
  top: -15px;
  left: 120px;
  width: 200px;
}

.fas {
  font-size: 30px;
  color: var(--icons);
  margin-right: 30px;
  cursor: pointer;
  user-select: none;
}

.fas:hover {
  filter: brightness(80%);
}


.main-button {
  font-size: 40px;
  position: relative;
  top: 3px;
}

/* Volume */

.player__volume-container {
    position: relative;
    margin-top: 25px;
    top: -10px;
    left: 25px;
    width: 85%;
}

.player__volume-bar {
    background: var(--progress-bar);
    border-radius: 5px;
    cursor: pointer;
    /* margin: 40px 20px; */
    /* top right bottom left */
    margin: -15px 0px 0px 43px;
    height: 4px;
    width: 92%;
}

.player__volume {
    background: var(--volume-progress);
    border-radius: 5px;
    height: 100%;
    /* Change this to show progress */
    width: 0%;
    transition: width 0.1s linear;
}

.player__theme-controls {
  position: relative;
  display: flex;
  /* top: -15px;
  left: 120px; */
  margin-top: 20px;
  width: 100%;
  align-items: center;
  justify-content: center;
}

.player__theme-controls #theme-icon {
  margin-left: 20px;
}

/* Media query: iPhone (Vertical) */
@media screen and (max-width: 376px) {
  .player__container {
    width: 95vw;
  }

  .player__img-container {
    left: 29px;
  }

  h2 {
    font-size: 20px;
  }

  h3 {
    font-size: 15px;
  }

  .player-controls {
    top: -10px;
    left: 100px;
  }
}
